# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

robo_teleoperation/cmake-build-debug/

robo_teleoperation/.idea/

robo_teleoperation/build/

robot_teleoperation_interface/build/

robo_teleoperation/.vscode/

robot_teleoperation_interface/.vscode/
