# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

robot_teleoperation/cmake-build-debug/

robot_teleoperation/.idea/

robot_teleoperation/build/

robot_teleoperation_interface/build/

robot_teleoperation/.vscode/

robot_teleoperation_interface/.vscode/

sensopart_ros2/cmake-build-debug/

sensopart_ros2/.idea/

sensopart_vision_ros2/cmake-build-debug/

sensopart_vision_ros2/.idea/

build/

planning_scene_spawner/.idea/

planning_scene_spawner/cmake-build-debug/
